/* Styling for Tabs */

[data-tab-content] {
    display: none;
}
.active[data-tab-content] {
    display: block;
}
.tab {
    overflow: hidden;
    border: 1px solid green;
    background-color: lightgreen;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: green;
}
.tab button.active {
    background-color: green;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid green;
    border-top: none;
}

